* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 15px;
}
img {
	width: 100%;
	height: auto;
}

.dog-card {
	margin-bottom: 50px;
}

.breed-select {
	max-height: 300px;
	overflow: auto;
}

.breed-select label {
	display: flex;
	align-items: center;
	gap: 10px;
}
